body {
  margin: 0;
  padding: 0;
}

/*FONTADDITIONS*/
@font-face {
  font-family: "FuturaStd";
  src: url("../fonts/FuturaStd-Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FuturaStd";
  src: url("../fonts/FuturaStd-Light.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "FuturaStd";
  src: url("../fonts/FuturaStd-Bold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

/*TOP "BAR"*/
.topbar {
  width: 100%;
  height: 125px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "logob navb";
  margin: 0 auto;
  background-color: #BFF2EC;
  border-bottom: 1px solid black;
  position: relative;
}

.logobox {
  grid-area: logob;
  position:relative;
}

#logo {
  background-image: url("../images/perslogo.png");
  background-size: 100px 100px;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  margin: 12px;
  margin-left: 60px;
}

.navbar {
  grid-area: navb;
  position: relative;
}

.navbar ul {
    width: auto;
    position: absolute;
    bottom: 10px;
    right: 60px;
}

.navbar ul li {
  display: inline-block;
  list-style-type: none;
}

.navbar ul li a:link, a:visited {
  font-family: FuturaStd;
  font-weight: 100;
  font-size: 20px;
  color: black;
  letter-spacing: 5px;
  padding-left: 50px;
  text-decoration: none;
}

.navbar ul li a:hover {
  font-weight: 400;
  font-style: italic;
  letter-spacing: 11px;
}

/* CENTER OF HOMEPAGE */
.homecenter {
  /* height: 800px; */
  width: 100%;
  margin: 0 auto;
  background-color: lightgrey;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "hero info";
}

.lefthc {
  grid-area: hero;
  position: relative;
  display: flex;
  flex-direction: column;
  direction: rtl;
  justify-content: center;
  border: 2px solid pink;
  overflow: auto;
}

.righthc {
  grid-area: info;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
}

#heroimg {
  width: 100%;
  height: auto;
  border-radius: 50%;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 25px;
}

/* #heroimg {
  background-image: url("../images/heroimg.png");
  height: 600px;;
  width: 600px;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  position: relative;
  left: 200px;
} */

.righthc ul li {
  list-style-type: none;
  font-family: "FuturaStd";
}

.occup {
  font-weight: 600;
  font-size: 75px;
  padding-bottom: 15px;
}

#loc {
  font-weight: 100;
  font-size: 16px;
  padding-top: 35px;
  font-style: italic;
  letter-spacing: 3px;
}

/*CENTER OF PORTFOLIO*/
.centerheader {
  backgound-color: #BFF2EC;
  font-family: "FuturaStd";
  font-weight: 400;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 25px;
}
.gallery{
  display: flex;
  flex-wrap: wrap;
  padding-right: 150px;
  padding-left: 150px;
  padding-top: 25px;
  padding-bottom: 50px;
}

.gallcolumn {
  flex: 33%;
  max-width: 30%;
  padding: 0 20px;
}

.gallcolumn img {
  box-sizing: border-box;
  margin-top: 20px;
  vertical-align: middle;
}

/*FOOTER*/
.footbar {
  width: 100%;
  height: 125px;
  margin: 0 auto;
  background-color: #BFF2EC;
  border-top: 1px solid black;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.smicons {
  position: absolute;
  top: 28px;
}

.botlogos img {
  height: 35px;
  padding-left: 3px;
  padding-right: 3px;
  opacity: 1.0;
}

.botlogos img:hover {
  opacity: 0.5;
}

.cpyrt {
  position: absolute;
  bottom: 9px;
}

#cptxt {
  font-family: FuturaStd;
  font-weight: light;
  font-size: 14px;
  letter-spacing: 0.5px;
}

/*MOBILE RESPONSIVE*/
