* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/*FONTADDITIONS*/
@font-face {
  font-family: "FuturaStd";
  src: url("../fonts/FuturaStd-Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FuturaStd";
  src: url("../fonts/FuturaStd-Light.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "FuturaStd";
  src: url("../fonts/FuturaStd-Bold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

/*TOP "BAR"*/
.topbar {
  width: 100%;
  height: 125px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "logob navb";
  margin: 0 auto;
  background-color: #BFF2EC;
  border-bottom: 1px solid black;
  position: relative;
}

.logobox {
  grid-area: logob;
  position:relative;
}

#logo {
  background-image: url("../images/perslogo.png");
  background-size: 100px 100px;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  margin: 12px;
  margin-left: 60px;
}

.navbar {
  grid-area: navb;
  position: relative;
}

.navbar ul {
    width: auto;
    position: absolute;
    bottom: 10px;
    right: 50px;
  }

.navbar ul li {
  float: left;
  list-style-type: none;
}

/*When changing padding to larger than 12px (larger than 25px cumulative), text does not fit on the "one line"*/
.navbar ul li a:link, a:visited {
  font-family: "FuturaStd";
  font-weight: 100;
  font-size: 17px;
  color: black;
  letter-spacing: 5px;
  text-decoration: none;
  padding: 0 12px;
}

.navbar ul li a:hover {
  font-weight: 400;
  font-style: italic;
  letter-spacing: 11px;
}

/* CENTER OF HOMEPAGE */
.homecenter {
  /* height: 800px; */
  width: 100%;
  margin: 0 auto;
  background-color: #ECECEC;
  /* display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "hero info"; */
  display: flex;
  flex-wrap: wrap;
}

.lefthc {
  flex: 50%;
  /* grid-area: hero;
  position: relative;
  display: flex;
  flex-direction: column;
  direction: rtl;
  justify-content: center;
  border: 2px solid pink;
  overflow: auto; */
  position: relative;
}

.righthc {
  flex: 50%;
  /* grid-area: info;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto; */
  padding: 10% 0;
  position: relative;
}

.vcentertest {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#heroimg {
  width: 100%;
  height: auto;
  border-radius: 50%;
  padding: 15% 5%;
  /* padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 25px; */
}

/* #heroimg {
  background-image: url("../images/heroimg.png");
  height: 600px;;
  width: 600px;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  position: relative;
  left: 200px;
} */

.righthc ul li {
  list-style-type: none;
  font-family: "FuturaStd";
}

.occup {
  font-weight: 600;
  font-size: 75px;
  padding-bottom: 15px;
}

#loc {
  font-weight: 100;
  font-size: 16px;
  padding-top: 35px;
  font-style: italic;
  letter-spacing: 3px;
}

/*CENTER OF PORTFOLIO*/
.centerheader {
  font-family: "FuturaStd";
  font-weight: 100;
  font-size: 30px;
  letter-spacing: 15px;
  margin: 0 auto;
  text-align: center;
  padding-top: 65px;
  padding-bottom: 25px;
  background-color: #ECECEC;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  padding: 10px 40px;
  padding-bottom: 50px;
  background-color: #ECECEC;
}

.gallcolumn {
  flex: 33%;
  max-width: 33%;
  padding: 0 10px;
}

.gallcolumn img {
  margin-top: 20px;
  vertical-align: middle;
  border: 1px solid lightgrey;
}

/*ABOUTMECENTER*/
.abcolumn {
  background-color: #ECECEC;
  border-radius: 5px;
  padding: 10px;
  font-family: "FuturaStd";
  font-size: 14px;
  line-height: 1.5;
}

.tblank {
  grid-area: tblank;
  color: #ECECEC;
}

.lblank {
  grid-area: lblank;
}

.rblank {
  grid-area: rblank;
}

.propic {
  grid-area: propic;
}

.details {
  grid-area: details;
}

.artstate {
  grid-area: artstate;
}

.bblank {
  grid-area: bblank;
  color: #ECECEC;
}

.abwrapper {
  min-height: 750px;
  display: grid;
  background-color: #ECECEC;
  grid-template-columns: 10% 26.6% 26.6% 26.6% 10%;
  grid-template-areas:
    "tblank tblank tblank tblank tblank"
    "lblank propic details artstate rblank"
    "bblank bblank bblank bblank bblank";
}

#propic {
  background-image: url("../images/heroimg.png");
  width: 500px;
}

/*FOOTER*/
.footbar {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  background-color: #BFF2EC;
  border-top: 1px solid black;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.smicons {
  position: absolute;
  top: 25px;
}

.botlogos img {
  height: 26px;
  padding-left: 3px;
  padding-right: 3px;
  opacity: 1.0;
}

.botlogos img:hover {
  opacity: 0.5;
}

.cpyrt {
  position: absolute;
  bottom: 9px;
}

#cptxt {
  font-family: "FuturaStd";
  font-weight: 100;
  font-size: 12px;
  letter-spacing: 0.5px;
}

/*MOBILE RESPONSIVE*/

/*PHONE*/
@media screen and (max-width: 767px) {
  .topbar {
    grid-template-columns: 100%;
    grid-template-areas:
      "logob"
      "navb";
  }

  .navbar ul li {
    float: none;
  }

  .navbar ul li a:link, a:visited {
    font-size: 12px;
    color: black;
    letter-spacing: 4px;
    text-decoration: none;
  }

  .centerheader {
    font-size: 24px;
  }

  .gallcolumn {
    flex: 100%;
    max-width: 100%;
  }

  .abwrapper {
    grid-template-columns: 10% 80% 10%;
    grid-template-areas:
      "tblank tblank tblank"
      "lblank propic rblank"
      "lblank details rblank"
      "lblank artstate rblank"
      "bblank bblank bblank";
  }
}

/*TABLET*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .navbar ul li {
    float: none;
  }

  .righthc {
    padding: 12% 0;
  }

  .occup {
    font-weight: 600;
    font-size: 60px;
    padding-bottom: 15px;
  }

  #loc {
    font-weight: 100;
    font-size: 14px;
    padding-top: 35px;
    font-style: italic;
    letter-spacing: 3px;
  }

  .navbar ul li a:link, a:visited {
    font-size: 14px;
    color: black;
    letter-spacing: 5px;
    text-decoration: none;
  }

  .centerheader {
    font-size: 24px;
  }

  .gallcolumn {
    flex: 50%;
    max-width: 50%;
    padding: 0 5px;
  }

.abwrapper {
  grid-template-columns: 10% 40% 40% 10%;
  grid-template-areas:
    "tblank tblank tblank tblank"
    "lblank propic artstate rblank"
    "lblank details artstate rblank"
    "bblank bblank bblank bblank";
}
}

@media screen and (min-width: 768px) and (max-width: 1285px) {
  .abwrapper {
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-areas:
      "tblank tblank tblank tblank"
      "lblank propic artstate rblank"
      "lblank details artstate rblank"
      "bblank bblank bblank bblank";
  }
}
